.container {
  padding: 10px;
  text-align: center
  }
  .borad{
    background: #eee;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fx);
    grid-template-rows: repeat(3,1fx);
    margin: 5rem auto;
    box-shadow: 1px 1px 1px;
    user-select: none;
    cursor: pointer;
  }
  .borad_tiles{
   display:  flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  color: black;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}